{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>forms reg page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<form action="#" method="POST">
	<div class="card">
		<div class="card-header bg-secondary col-md-5">Register Form</div>
		<div class="card-body col-md-5">
			{% csrf_token %}
			{{form.as_p}}
		</div>
		<div class="card-footer">
			<input type="submit" name="submit" value="Register" class="bg bg-secondary">
		</div>
	</div>

</form>
</body>
</html>